{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% if app.user %}
<a href="{{ path('item_new') }}" class="add-item-button">
        <div class="add-item-button-cross" style="width: 2rem; height: 0.5rem;"></div>
        <div class="add-item-button-cross" style="height: 2rem; width: 0.5rem;"></div>
</a>
{% endif %}

{% endblock %}
