body {
    margin: 0;
    padding: 0;
    font-family:"Poppins-Medium";
    min-height: 100vh;
    background: linear-gradient(to left bottom, rgba(120, 177, 215, 1), rgba(200, 102, 164, 0.25));
}

/* Police d'écriture du site web */

@font-face{
    font-family:"Poppins-Regular";
    src: url("Poppins-Regular.ttf");
    font-family:"Poppins-Medium";
    src: url("Poppins-Medium.ttf");
}

@font-face{
    font-family:"Poppins-Medium";
    src: url("Poppins-Medium.ttf");
}

@font-face{
font-family:"Poppins-SemiBold";
    src: url("Poppins-SemiBold.ttf");
}

/* Contenu de ce qu'il y a dans le Header */

header {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5rem;
    height: auto;
    position: absolute;
    left: 1rem;
}

.logo-title {
    font-family:"Poppins-SemiBold";
    margin-left: 4.4rem;
    font-size: 2.8rem;
    color: rgb(116,127,174);
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
    text-decoration: none;
    z-index: 2;
}

.user-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 1rem;
}

.user-icon {
    width: 5rem;
    border-radius: 50%;
}

.user-login-logout {
    font-family:"Poppins-Medium";
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(240, 240, 240);
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
    margin-right: 1rem;
    transition-duration: .3s;
}

.user-login-logout:hover {
    color: rgb(255, 180, 75);
}

.user-login {
    margin-right: 2.5rem;
}

/* Formulaire de la page de Log In */

.already-logged-in {
    font-family:"Poppins-Medium";
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
    margin-top: 30px;
}

.login-title {
    margin-bottom: 10px;
    font-size: 2.6rem;
}

.login-form, .register-form form {
    width: 22rem;
    height: 25rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(6.0px);
    -webkit-backdrop-filter: blur(6.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    font-family:"Poppins-Medium";
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
}

.register-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-form input, .register-form form input {
    width: 60%;
    padding: 10px 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.20);
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    transition-duration: .3s;
}

.login-form input::placeholder, .register-form form input::placeholder {
    color: white;
    font-family:"Poppins-Medium";
    font-weight: bold;
}

.login-form input:hover, .register-form form input:hover {
    letter-spacing: 1.5px;
}

.login-register {
    margin-top: 1.6rem;
    font-size: 1rem;
    text-align: center;
}

.login-register-link {
    color:white;
    font-weight: bold;
    font-size: 1.15rem;
    text-shadow: 1px 2px 4px rgba(71,97,206,.56);
    transition-duration: .3s;
}

.login-register-link:hover {
    color: rgb(255, 180, 75);
}

.login-form button, .register-form form button {
    padding: 10px 20px;
    margin-top: 10px;
    width: 11rem;
    background:rgba(98, 98, 163, 0.80);
    border-radius: 35px;
    border: none;
    color: white;
    font-family:"Poppins-Medium";
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition-duration: .3s;
}

.login-form button:hover, .register-form form button:hover {
    font-size: 1rem;
    color: rgba(98, 98, 163, 0.80);
    background: white;
}

.register-button {
    margin-top: 20px;
}

.login-alert {
    margin-bottom: -25px;
    color: rgba(255, 0, 0, 0.68);
}

.register-form ul {
    padding-left: 0;
    margin: 10px 0 0 0;
}

.register-form li {
    width: 18.5rem;
    list-style-type: none;
    text-align: center;
    color: rgba(255, 0, 0, 0.68);
}

/* Contenu de la page Home */

.add-item-button {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(189, 189, 189, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.27);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition-duration: .3s;
}

/* Régler le soucis pour le blur sur mozarella */

/* .add-item-button::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(189, 189, 189, 0.30);
    filter: blur(2.5px);
} */

.add-item-button:hover {
    transform: scale(1.3);
    background: rgba(189, 189, 189, 0.60);
}

.add-item-button-cross {
    position: absolute;
    background-color: rgb(251,180,78);
    border-radius: 3px;
}

.item-title {
    color: white;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
    font-size: 2.6rem;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
}

.item-container {
    width: 17rem;
    height: 25rem;
    display: flex;
    align-items: flex-end;
    margin: 0 20px 100px 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition-duration: .3s;
}

.item-container:hover {
    transform: scale(1.06);
}

.item-list {
    width: 100%;
    height: 9rem;
    margin: 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-list li {
    list-style: none;
    color: rgb(116,127,174);
    font-weight: bold;
    text-shadow: 1px 2px 4px rgba(71,97,206,.10);
}

.item-list li:nth-child(1) {
    font-size: 1.86rem;
    width: 95%;
    color: rgb(251,180,78);
}

.item-price {
    position: absolute;
    right: -1.5rem;
    bottom: 10rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
    font-size: 1.4rem;
    z-index: -5;
    border-radius: 10px 0 10px 0;
    background: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(15px);
    }
}

.item-link {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-weight: bold;
    font-size: 1.3rem;
    transition-duration: .3s;
}

.item-link:hover {
    font-size: 1.5rem;
    color: rgb(251,180,78);
}

/* Contenu de la page item_show */

.item-section {
    display: flex;
    margin: 4rem 0 -4rem 5rem;
}

.item-image-show {
    width: 18rem;
    height: 18rem;
    z-index: 2;
    border-radius: 0 20px 0 20px;
    background: rgba(98, 98, 163, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
}

.item-information, .item-description {
    color: rgb(240, 240, 240);
    text-shadow: 1px 2px 4px rgba(71,97,206,.36);
    font-weight: bold;
}

.item-information li {
    list-style: none;
    font-size: 1.2rem;
}

.item-information li:nth-child(1) {
    font-size: 2.8rem;
    color: rgb(251,180,78);
}

.item-information li:nth-child(2) {
    font-size: 1.7rem;
}

.item-description-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.item-description {
    height: 18rem;
    border-radius: 20px 0 20px 0;
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-description p {
    padding: 30px 70px 0 170px;
    font-size: 1.5rem;
}

.bubble {
    position: absolute;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
}

.bubble-1 {
    right: 12.3rem;
    bottom: 10rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.bubble-2 {
    left: 12.3rem;
    bottom: 6rem;
    width: 4rem;
    height: 4rem;
    z-index: 2 ;
}

.item-edit-button {
    text-align: end;
    text-decoration: none;
    font-weight: bold;
    color: rgb(98, 98, 163);
    margin-right: 15px;
    align-self: flex-end;
}

.item-return-button {
    text-decoration: none;
    font-weight: bold;
    color: rgb(98, 98, 163);
    margin-left: 25px;
}

/* Mode responsive pour la bar de navigation */

@media only screen and (max-width: 678px) {
    .user-login-logout {
        display: none;
    }
}

/* Mode responsive pour l'acceuil' */

@media only screen and (max-width: 440px) {
    .item-title {
        font-size: 1.8rem;
    }
}