{{ form_start(form) }}
    <h1 class="login-title">Ajouter un nouvel article</h1>
    {{ form_widget(form) }}
    <div class="register-button">
        <button class="btn">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
